{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Request List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
</head>
<body>
    <h2>All Requests</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Type of transport</th>
                <th>Route</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.client_name }}</td>
                    <td>{{ request.request_type }}</td>
                    <td>{{ request.route }}</td>
                    <td>{{ request.status }}</td>
                    <td>{{ request.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
